{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}

{% block main %}
<div class="d-flex flex-column justify-content-center align-items-center m-5">
    <div class="card m-5 p-5">
        <h2 class="card-title">Register To Save Recipes and Ingredients!</h2>
        <div class="card-body">
            <form action="/register" method="post">
                <div class="m-5">
                    <input name="username" placeholder="Username" type="text" class="form-control w-auto">
                </div>
                <div class="m-5">
                    <input name="password" placeholder="Password" type="password" class="form-control w-auto">
                </div>
                <button class="btn btn-info m-5" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}